.typetoconfirm { background-color: white; border: 5px solid #336699; float: left; height: auto; width: 350px; text-align: center }
.untypedletterscontainer { float: left; width: 100%; font-size: 24px; letter-spacing: 6px }
.messagecontainer { float: left; }